.mood-select {
  margin: 3%;
}


#happy {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  border-style: ridge;
  border-color:#ffc933;
  border-radius: 25px;
  font-size: large;
  color: black;
  text-decoration: none;
  width: 100px;
  height: 100px;
  background-color: #ffd35c;
  box-shadow:3px 3px #4d264d;
}

#sad {
    border-style: ridge;
    border-color:#1982c4;
    border-radius: 25px;
    font-size: large;
    color: black;
    text-decoration: none;
    width: 100px;
    height: 100px;
    background-color: #93cdf0;
    box-shadow:3px 3px #4d264d;
}

#angry {
    border-style: ridge;
    border-color:#ff5c61;
    border-radius: 25px;
    font-size: large;
    color: dark;
    text-decoration: none;
    width: 100px;
    height: 100px;
    background-color: #ff7075;
    box-shadow:3px 3px #4d264d;
  }