.mood-select {
  margin: 3%;
}

.mood-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-style: ridge;
  border-radius: 100%;
  box-shadow:3px 3px #4d264d;
  text-decoration-line: none;
  font-size: x-large;
  color: #1a1a1a;
}

#happy {
  border-color: #ffca3a;
  background-color: #ffd35c;
  width: 100px;
  height: 100px;
}

#angry {
  border-color:#ff5c61;
  background-color: #ff7075;
  width: 100px;
  height: 100px;

}

#sad {
  border-color:#93cef3;
  background-color: #93cdf0;
  width: 100px;
  height: 100px;
}
