.welcome__user {
    display: flex;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 1em;
    color: #000000;
    font-family: 'DotGothic16', sans-serif;
}
