#usersName {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    background-color: antiquewhite;
    border: solid 2px #696963;
    border-style: ridge;
    padding-left: 15px;
    border-radius: 25px;
    font-size: large;
    width: 15em;
    height: 3em;
    font-family: 'Playmegames';
}