.header {
    display: flex;
    justify-content: center;
    font-size: x-large;
    letter-spacing: 1em;
    color: #4d264d;
    font-family: 'DotGothic16', sans-serif;
    text-decoration-line: none;
}