.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-left: 50px;
    padding-right: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    font-family: 'Playmegames';
    letter-spacing: 4px;
}

.footer__copyright {
    display: flex;
    font-size: 15px;
    color: #eeeeee;
}

.footer__resources {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    color: orangered;
    text-align: right;
    list-style-type: none;  
    text-decoration: none;
}

.footer__resources:hover{
    color: #ffe600d3;
}