* {
  background-color: thistle;
  margin-left: auto;
  margin-right: auto;
}

#usersNameSubmit {
  display: flex;
  justify-content: center;
  border-style: ridge;
  border-color:#a1db43;
  border-radius: 25px;
  font-size: large;
  color: darkgreen;
  text-decoration: none;
  width: 10em;
  height: 2em;
  background-color: #bae576;
  box-shadow:3px 3px #4d264d;
}

/* @font-face {
  font-family: "CedarvilleCursive";
  src: local("CedarvilleCursive");
  url: ("./fonts/CedarvilleCursive-Regular.ttf") format("truetype");
  font-weight: normal;
} */

/* @font-face {
  font-family: "DotGothic16";
  src: local("DotGothic16");
  url: ("./fonts/DotGothic16-Regular.ttf") format("truetype");
  font-weight: normal;
} */
