* {
  background-color: thistle;
  margin-left: auto;
  margin-right: auto;
}

.welcome__user {
  display: flex;
  justify-content: center;
  font-size: 15px;
  letter-spacing: 2px;
  word-spacing: 1em;
  color: #000000;
  font-family: 'DotGothic16', sans-serif;
}

.continue {
  display: flex;
  justify-content: center;
  border-style: ridge;
  border-color:#a1db43;
  border-radius: 25px;
  font-size: large;
  color: darkgreen;
  text-decoration: none;
  width: 10em;
  height: 2em;
  background-color: #bae576;
  box-shadow:3px 3px #4d264d;
}

#EMA__header{
  display: flex;
  justify-content: center;
  font-size: x-large;
  letter-spacing: 2px;
  word-spacing: 1em;
  color: #000000;
  font-family: 'DotGothic16', sans-serif;
}

#usersNameSubmit {
  display: flex;
  justify-content: center;
  border-style: ridge;
  border-color:#a1db43;
  border-radius: 25px;
  font-size: large;
  color: darkgreen;
  text-decoration: none;
  width: 10em;
  height: 2em;
  background-color: #bae576;
  box-shadow:3px 3px #4d264d;
}

/* @font-face {
  font-family: "EarlsRevenge-69Kg.ttf";
  src: local("EarlsRevenge");
  url: ("./fonts/EarlsRevenge-69Kg.ttf") format("truetype");
  font-weight: normal;
} */

/* @font-face {
  font-family: "DotGothic16";
  src: local("DotGothic16");
  url: ("./fonts/DotGothic16-Regular.ttf") format("truetype");
  font-weight: normal;
} */
