* {
  background-color: thistle;
}

/* @font-face {
  font-family: "CedarvilleCursive";
  src: local("CedarvilleCursive");
  url: ("./fonts/CedarvilleCursive-Regular.ttf") format("truetype");
  font-weight: normal;
} */

/* @font-face {
  font-family: "DotGothic16";
  src: local("DotGothic16");
  url: ("./fonts/DotGothic16-Regular.ttf") format("truetype");
  font-weight: normal;
} */
